<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307429684829-37isblg56ppmo11aooboneeegcmire7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307429684829-37isblg56ppmo11aooboneeegcmire7m</string>
	<key>API_KEY</key>
	<string>AIzaSyAn2k8-sNpi8vJN5VLTxJOLmHXwXf9tVPU</string>
	<key>GCM_SENDER_ID</key>
	<string>307429684829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theQuote</string>
	<key>PROJECT_ID</key>
	<string>the-quote-541f6</string>
	<key>STORAGE_BUCKET</key>
	<string>the-quote-541f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307429684829:ios:31af5a8d4ade92476d3fb4</string>
</dict>
</plist>